.btn{
    border: none;
    background-color: transparent;
    cursor: pointer;
}
.primary{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    background-color: rgb(19, 195, 19);
    
    font-size: 5rem;
    height: 50px;
    width: 50px;
    transition: 0.2s all;
}
.primary:hover{
    background-color: rgb(15, 213, 15);
}