.btn{
    border: none;
    background-color: transparent;
    cursor: pointer;
}
.primary{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    background-color: rgb(25, 171, 25);
    font-size: 5rem;
    height: 50px;
    width: 50px;
}