.task {
  display: flex;
  color: black;
  list-style: none;
  background-color: rgb(233, 233, 233);
  border-radius: 10px;
  height: 40px;
  align-items: center;
  padding-left: 15px;
  padding-right: 15px;
}
.task span{
  font-size: 2.5rem;
  margin-right: 10px;
  font-family: Arial, Helvetica, sans-serif;
}
.task-svg{
  display: flex;
  gap: 5px;
  margin-left: auto;
}
.task svg{
  cursor: pointer;
  height: 20px;
  width: 20px;
  fill: rgb(43, 43, 43);
  transition: 0.2 all;
}
.task svg:hover{
  fill: rgb(0, 0, 0);
}
.task-pencil{
  height: 30px;
  width: 30px;
}
