* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(120, 193, 242);
}
.list {
  background-color: white;
  box-shadow: 0 0 30px 2px rgb(0, 0, 0, 0.2);
  width: 600px;
  height: 500px;
  margin: 100px auto;
  border-radius: 10px;
}
